h1 {
  font-family: 'Coiny', cursive;
  font-size: 75px;
  color: green;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;

}

h3 {
  color:white;
  text-align: center;
  font-family: 'Coiny', cursive;
}

h4 {
  text-align: left;
  font-family: sans-serif;
  margin-left: 80px;
}

body {
  background-image: url("../img/background.jpg");
}

p {
  color: white;
  text-align: center;
  font-family: sans-serif;
}

img {
  display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
 box-shadow: 5px 5px 2px white;
}

a {
  box-align: center;
  text-align: center;
  font-family: 'ZCOOL KuaiLe', cursive;
  color: white;
}

.column {
  width: 50%;
  float: left;
}

.no {
  color: red;
  font-style: italic;
}

.rightSide {
  /* width: 30%; */
  background-color: #ff6100;
  padding: 4px 4px 4px 12px;
  margin-top: 70px;
  font-family: 'ZCOOL KuaiLe', cursive;
}

p.disclaimer {
  padding-top: 30px;
}

.sidebar {
  margin-top: 70px;
  padding: 4px 4px 4px 12px;
  background-color: #e5ca42;
  font-family: 'ZCOOL KuaiLe', cursive;
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  body {
    background-color: white;
    color: black;
  }
}
