h1 {
  font-family: 'Coiny', cursive;
  font-size: 75px;
  color: green;
  float: right;

}

h2 {
  font-family: sans-serif;
}

h3 {
  text-align: center;
  font-family: 'Coiny', cursive;
}

h4 {
  text-align: left;
  font-family: sans-serif;
  margin-left: 80px;
}

ul {
  font-family: sans-serif;
}

p {
  text-align: center;
  font-family: sans-serif;
}

img {
  width: 50%;
  height: 50%;
}

.column {
  width: 50%;
  float: left;
}

.no {
  color: red;
  font-style: italic;
}

.sidebar {
  margin-top: 70px;
  padding: 4px 4px 4px 12px;

  background-color: #e5ca42;
}

.rightSide {
  /* width: 30%; */
  background-color: #ff6100;
  padding: 4px 4px 4px 12px;
  margin-top: 70px;
}

p.disclaimer {
  padding-top: 30px;
}
